sentence-transformers
python-dotenv
llama-cpp-python
faiss-cpu
python-docx
Flask
Flask-Cors
PyPDF2
pdfplumber
numpy
requests
scikit-learn
torch
transformers
gunicorn
schedule
datasets
accelerate>=0.26.0